<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{/common/asset}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <th:block th:replace="@{/common/header}"/>
    <th:block th:replace="@{/common/sidebar}"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>뉴스 작성</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">매거진</a></li>
                            <li class="breadcrumb-item active">뉴스 작성</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">뉴스 작성</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="news-title">제목</label>
                                        <input type="text" class="form-control" id="news-title" name="title" placeholder="제목을 입력하세요.">
                                    </div>
                                    <div class="form-group">
                                        <label for="news-content">내용</label>
                                        <textarea id="news-content" placeholder="내용을 입력하세요."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>브랜드</label>
                                        <select class="select2 w-100" multiple="multiple" data-placeholder="브랜드를 선택하세요."></select>
                                    </div>
                                    <div class="form-group">
                                        <label>태그</label>
                                        <input type="text" class="form-control" id="tags" name="tags" value=""/>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="@{/common/footer}"/>
</div>
<!-- ./wrapper -->
</body>
</html>

<script th:replace="@{/common/script}"></script>
<script>
    $(function () {
        // Summernote
        $('#news-content').summernote({
            height: '400px'
        })

        //Initialize Select2 Elements
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        // taginputs
        $('#tags').tagsinput()
        $('.bootstrap-tagsinput').addClass('form-control')
    })
</script>